extends layout.pug
append head
    script(src="/javascripts/index.js" type="module")
    link(rel="stylesheet" href="/stylesheets/index.css")
block content

    div(class="main-layout")

        div(class="hidden list" id="newListForm" hidden)
            label(for='name') Name your list!
            input(type="text" name="name" id='listName')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='listDueDate' placeholder= '2021-05-25')
            button(type='submit' id='listSubmit') Add List
        div(class="hidden list" id="editListForm" hidden)
            label(for='name') Name your list!
            input(type="text" name="name" id='editListName')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='editListDueDate' placeholder= '2021-05-25')
            button(type='submit' id='updateList') Update List
        div(class="hidden task" id="newTaskForm" hidden)
            label(for='description') Enter a description for your task!
            textarea(name="description" id='taskDescription' required)
            label(for='notes') Enter notes for your task!
            textarea(name="notes" id='taskNotesInput')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='taskDueDate' placeholder= '2021-05-25')
            button(type='submit' id='taskSubmit') Add task

        div(class="hidden task" id="editTaskForm" hidden)
            label(for='description') Enter a description for your task!
            textarea(name="description" id='taskDescription' required)
            label(for='notes') Enter notes for your task!
            textarea(name="notes" id='taskNotesInput')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='taskDueDate' placeholder= '2021-05-25')
            button(type='submit' id='editTaskSubmit') edit task

        div(id="leftViewArea" class="viewArea")
            button(id="addListButton" class= "addBtn") Create New List
            button(id="editListButton" class= "editBtn") Edit List
            button(id="deleteListButton" class="deleteBtn") Delete List
            div(id="listOfLists")


        div(id="centerViewArea" class= "viewArea")
            button(id="addTaskButton" class= "addBtn" hidden) Create New Task
            button(id="editTaskButton" class= "editBtn" hidden) Edit Task
            button(id="deleteTaskButton" class="deleteBtn" hidden) Delete Task
            div(id="listOfTasks")


        div(id="rightViewArea" class="viewArea")
            div(id="taskNotes")
            div(id="leaderboard")
