extends layout.pug
append head
    script(src="/javascripts/index.js" type="module")
    link(rel="stylesheet" href="/stylesheets/index.css")
block content

    div(class="main-layout")

        div(class="hidden list form" id="newListForm")
            label(for='name') Name your list!
            input(type="text" name="name" id='listName')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='listDueDate' placeholder= '2021-05-25')
            button(type='submit' id='listSubmit') Add List
            button(id="newListCancel" class="cancel") Cancel
        div(class="hidden list form" id="editListForm" )
            label(for='name') Name your list!
            input(type="text" name="name" id='editListName')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='editListDueDate' placeholder= '2021-05-25')
            button(type='submit' id='updateList') Update List
            button(id="updateListCancel" class="cancel") Cancel
        div(class="hidden task form" id="newTaskForm" )
            label(for='description') Enter a description for your task!
            textarea(name="description" id='taskDescription' required)
            label(for='notes') Enter notes for your task!
            textarea(name="notes" id='taskNotesInput')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='taskDueDate' placeholder= '2021-05-25')
            button(type='submit' id='taskSubmit') Add task
            button(id="newTaskCancel" class="cancel") Cancel
        div(class="hidden task form" id="editTaskForm" )
            label(for='description') Enter a description for your task!
            textarea(name="description" id='editTaskDescription' required)
            label(for='notes') Enter notes for your task!
            textarea(name="notes" id='editTaskNotesInput')
            label(for='dueDate') Choose a due date
            input(type="date" name='dueDate' id='editTaskDueDate' placeholder= '2021-05-25')
            button(type='submit' id='editTaskSubmit') Edit task
            button(id="editTaskCancel" class="cancel") Cancel



        div(id="leftViewArea" class="viewArea")
            button(id="addListButton" class= "addBtn") Create New List
            button(id="editListButton" class= "editBtn" hidden) Edit List
            button(id="deleteListButton" class="deleteBtn" hidden) Delete List
            button(id='completeListButton' class='completeBtn' hidden) Complete List
            div(id="listOfLists")


        div(id="centerViewArea" class= "viewArea")
            button(id="addTaskButton" class= "addBtn" hidden) Create New Task
            button(id="editTaskButton" class= "editBtn" hidden) Edit Task
            button(id="deleteTaskButton" class="deleteBtn" hidden) Delete Task
            button(id='completeTaskButton' class='completeBtn' hidden) Complete Task
            div(id="listOfTasks")


        div(id="rightViewArea" class="viewArea")
            div(id="leaderboard" hidden)
            div(id='listSummaryLabel' hidden) List Summary:
                div(id='listSummary' hidden)
            div(for='taskNotes' id='notesLabel' hidden) Notes:
                div(id="taskNotes" name='taskNotes')
