extends layout.pug

block content

    h1 taskd

    div(class="hidden list" id="newListForm")
    div(class="hidden task" id="newTaskForm")

    div(id="leftViewArea")
        button(id="addListButton" class= "addBtn") Create New List
        ul(id="listOfLists")



    div(id="centerViewArea")
        button(id="addTaskButton" class= "addBtn") Create New Button
        ul(id="listOfTask")


    div(id="rightViewArea")
        div(id="taskNotes")
        div(id="leaderboard")
