extends layout

append head
  //- add page specific styles by appending to the head
  //- link(rel="stylesheet" href="/stylesheets/index.css")
  //- link(rel="stylesheet" href="/stylesheets/splash.css")
  //- link(rel="preconnect" href="https://fonts.gstatic.com")
  //- link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap")
  //- add page specific js


block content

  h1(id="tag-line") be productive with the task at hand
    div(class="fade-images")
      img(id='img1' src='https://image.freepik.com/free-vector/people-using-online-apps-set_74855-4457.jpg')
      img(id='img2' src='https://image.freepik.com/free-vector/student-guy-studying-internet-watching-online-lecture-computer-talking-math-tutor-through-video-call-cartoon-illustration_74855-14524.jpg')
      img(id='img3' src='https://image.freepik.com/free-vector/work-time-concept-illustration_114360-1074.jpg')
      img(id='img4' src='https://image.freepik.com/free-vector/time-management-concept-illustration_114360-2499.jpg')
      img(id='img5' src='https://image.freepik.com/free-vector/time-management-concept-talk-chart_23-2148831728.jpg')
    
  div(class="splash-lb")
    div(id='lb') Leaderboard
    ul(class="score-display")
