doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title="taskd"
      link(rel='stylesheet' href='/stylesheets/reset.css')

  body
    nav(class='navbar')
      a(class='navbar-brand' href='/') taskd
      if locals.authenticated
        span(class='welcome-msg') Welcome  #{user.userName}
        form(class='logout-form' action='/logout' method="POST")
          button(class='logoutBtn' type='submit') Log Out
      else
        span(class='navbar-span')
          form(action="/demo" class="splash-page-button-form" method="post")
            a(class='login-link' href='login') Log in
            a(class='sign-up-link' href='signup') Sign Up
            button(type='submit' class='demo-button') Demo
    block content
