doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      title="taskd"
      //- link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel="stylesheet" href="/stylesheets/index.css")
      link(rel="stylesheet" href="/stylesheets/splash.css")
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" )
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")

  body
    nav(class='navbar')
      if locals.authenticated
        a(class='navbar-brand' id="logo" href='/homepage') taskd
        div(class="welcome")
          input(type="text" class='searchBarInput' id='searchBar' placeholder= "search" results="0")
          button(class="searchBtn" id='searchBtn' type="submit") Search
          select(class='searchBtn' id="selectSearchBtn" type='submit') Select Search
            option(value="Lists") Lists
            option(value="Tasks") Tasks
          button(class='returnBtn' id="resetListsBtn" type='submit') Clear Search
          span(class='welcome-msg') Welcome  #{user.userName}
          form(class='logout-form' action='/logout' method="POST")
            button(class='logoutBtn' type='submit') Log Out

      else
        a(class='navbar-brand' id="logo" href='/') taskd
        div(class='navbar-span')
          a(class='login-link' href='login') Login
          a(class='sign-up-link' href='signup') Sign-Up
          form(action="/demo" class="splash-page-button-form" method="post")
            button(type='submit' class='demo-button') Demo
    block content

  footer
    block footer
      div(class="footer")
        p(class="footer-names") task completed by
          span(class="name") Elias Eichen
          a(class="name" id="elias" href='https://github.com/EEichen' )
            i(class="fab fa-github")
          a(class="name" id="elias" href='https://www.linkedin.com/in/elias-eichen-bb15a4198/')
            i(class="fab fa-linkedin")
          span(class="name") |
          span(class="name") Chuks Ota
          a(class="name" id="chuks" href="https://github.com/chuksota")
            i(class="fab fa-github")
          a(class="name" id="chuks" href="https://www.linkedin.com/in/chuks-ota-818248127/")
            i(class="fab fa-linkedin")
          span(class="name") |
          span(class="name") Josh Steinberg
          a(class="name" id="josh" href='https://github.com/jps725')
            i(class="fab fa-github")
          a(class="name" id="josh" href='https://www.linkedin.com/in/josh-steinberg-21618846/')
            i(class="fab fa-linkedin")
