extends layout.pug
block content
  if errors
    div(class='errorsContainer' id="logInErrorDiv" )
      p Issues:
        ul
          each error in errors
            li= error
  h1(id="sign-up-title") Log in here!
  form(action='/login' method='POST' class='sign-up-form')
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='email' name='email' class='sign-up-input' placeholder='Email')
    input(type="password" name='password' class='sign-up-input' placeholder='Password')
    button(type='submit' id="log-button") Log in
