extends layout 

block content
    form(action="/users/signup" method="POST") 
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="username") User Name
        input(type="text" name="username" value=user.userName required)
        label(for='email') Email
        input(type="email" name='email' value=user.email required)
        label(for='password') Password
        input(type="password" name='password' value=user.password required)
        label(for='confirmpassword') Confirm Password
        input(type="password" name='confirmpassword' value='' required)
        button(type='submit') Submit