h1 {
  color: #555555;
}

.main-layout {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "leftViewArea centerViewArea rightViewArea";
}

#leftViewArea {
  grid-area: leftViewArea;
}

#centerViewArea {
  grid-area: centerViewArea;
}

#rightViewArea {
  grid-area: rightViewArea;
  font-size: 20px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* margin: 5px; */
  /* padding: 5px; */
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.viewArea {
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

#listOfLists {
  font-size: 20px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  padding: 5px;
}

#listOfTasks {
  font-size: 20px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  padding: 5px;
}
#listSummaryLabel {
  margin-bottom: 0.5em;
  padding-bottom: 2em;
}

#listSummary {
  position: relative;
  text-align: center;
  top: 30%;
  bottom: 70%;
}

button {
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: #ee6c4d;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: honeydew;
}

.completed {
  text-decoration: line-through;
}

.searchBarInput {
  height: 25px;
  width: 250px;
  color: black;
  background-color: #e5e5e5;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding-right: 10px;
}

.searchTaskBtn {
  margin-right: 50px;
}

#sign-up-title {
  text-align: center;
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #5e6472;
}

.sign-up-form {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  box-sizing: border-box;
  font-size: larger;
  top: 20%;
  border: 2px solid black;
  border-radius: 10px;
  /* position: fixed; */
  width: 35%;
  height: 35%;
  padding: 5px;
  margin: auto;
  background-color: #293241;
  /* margin: 1em; */
  z-index: 20000;
}

.sign-up-input {
  height: 1.7em;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#sign-button {
  height: 2em;
  width: 50%;
  align-self: center;
}

.selected {
  background-color: rgba(255, 166, 158, 0.5);
}

#listOfLists > div {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 0.3em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#listOfTasks > div {
  cursor: pointer;
  text-align: left;
  margin-top: 0.3em;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.6);
}

.tasking::before {
  content: "•";
}

.errorsContainer {
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(223, 41, 41, 0.4);
  height: auto;
  width: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
