h1 {
  color: #555555;
}

.main-layout {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "leftViewArea centerViewArea rightViewArea";
}

#leftViewArea {
  grid-area: leftViewArea;
}

#centerViewArea {
  grid-area: centerViewArea;
}

#rightViewArea {
  grid-area: rightViewArea;
}

.viewArea {
  border: 2px solid black;
}

#listOfLists {
  font-size: 20px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  padding: 5px;
}

button {
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: rgba(10, 149, 223);
  font-weight: bold;
  color: whitesmoke;
}

#newListForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: honeydew;
}

.hidden {
  visibility: hidden;
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: honeydew;
}

#editTaskForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: honeydew;
}

#editListForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: honeydew;
}

.completed {
  background-color: rgba(82, 220, 82, 0.29);
}
